<div data-offcanvas="" class="off-canvas-wrap docs-wrap move-right">
 <div class="xskin-dashboard-menu tab-bar">
 <div class="medium-2 left">
        <a class="left-off-canvas-toggle menu-icon" aria-expanded="true">
        <i class="fa fa-bars"><span>Menu</span></i> </a>
        </div>
        <div class="medium-10 columns text-right">
        	<ul>
        		<li>
        			<span data-dropdown="drop" aria-expanded="false"><i class="fa fa-bell"></i>
        			<span>5</span>
        			</span>

        			<ul data-dropdown-content="" class="expand f-dropdown" id="drop" style="position: absolute; left: -99999px; top: 47px;" aria-hidden="true">
				      <li><a href="#">This is a link</a></li>
				      <li><a href="#">This is another</a></li>
				      <li><a href="#">Yet another</a></li>
				    </ul>
        		</li>
        		<li>hhhhhhhhh</li>
        		<li>hhhhhhhhh</li>
        	</ul>
        </div>
    </div>
  <div class="inner-wrap">


    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="#">The Encyclopedists</a></li>
        <li><a href="#">The Mayors</a></li>
        <li><a href="#">The Traders</a></li>
      </ul>
    </aside>

    <section class="main-section">
    <div class="xskin-dshboard-design">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>