 <section>
  <div class="row">
    <div class="xskin-user-profile">
    <ul class="breadcrumbs show-for-small-only mobile-only">
        <li><a href="#">MEMBERSHIP</a></li>
        <li class="current"><a href="#">My Profile</a></li>
      </ul>
    <h4 class="supprots">Support</h4>
      <div class="medium-4 small-12 left">
        <%= render"layouts/support_menu" %>
      </div>
      <div class="medium-8 small-12 left">
        <div class="xskin-user-profile-data xskin-rules">
        <h3>TERMS &amp; CONDITIONS</h3>
          <p>Casetify is a social design service where you can create your own iPhone case using Instagram™ photos. Casetify is provided by [*] (the "Company", "we" or "us"). Casetify uses the Instagram™ API (Application Programming Interface) technology. However, we are not endorsed or certified by Instagram™ or their affiliates and we do not have any business relationship with Instagram™.</p>
          <p>Instagram™ does not endorse Casetify, but we respect their products. By using the Casetify website, mobile application, content, services and products (the "Website"), you are agreeing to be bound by the terms and conditions of Instagram™ (the "Instagram™ Terms and Conditions"), which can be viewed at http://instagram.com/legal/terms. Do not proceed any further and do not access or use the Website or any of the services made available in the Website if you do not agree to be bound by the Instagram™ Terms and Conditions.</p>
          <p>The Website and all content, services and products available at or through the Website are governed by the following terms and conditions (the "Terms and Conditions"). These Terms and Conditions also govern in general your use of the Website and your relationship with us. The Website is owned and managed by us. The Website is offered for use subject to your acceptance without modification of all of these Terms and Conditions contained herein below, and all other operating rules, policies (including, without limitation, our privacy policy) and procedures that may be published from time to time on the Website (collectively, the "Agreement").</p>
          <p>Before accessing or using the Website, please read the Agreement (in particular, these Terms and Conditions) carefully, as they affect your rights and liabilities under the law. Do not access or use the Website or our services if you do not agree to all of these Terms and Conditions. If you have any questions on the Agreement or any of these Terms and Conditions, please contact hello@casetify.com </p>
          <p>Use of the Website. The Website is provided to you for your use subject to these Terms and Conditions. By using the Website you agree to be bound by (i) the Agreement (in particular, these Terms and Conditions) and (ii) the Instagram™ Terms and Conditions. Although we will normally only refuse use of the Website if these Terms and Conditions are violated, we reserve the right to refuse use of the Website to anyone for any reason at any time.</p>
        <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>