<section>
  <div class="row">
    <div class="xskin-gift-card">
      <div class="greeting text-center">
        <%=image_tag "gift-card.png" %>
      </div>
      <ul class="discount-in-dollar">
        <li>
          <p class="number-of-discount">
            &dollar;7
          </p>
          <a href="#" class="button">FREE</a>
          <div class="chckbox">
            <input type="radio" />
          </div>
        </li>
        <li>
          <p class="number-of-discount">
            &dollar;35
          </p>
          <a href="#" class="button">FREE</a>
          <div class="chckbox">
            <input type="radio" />
          </div>
        </li>
        <li>
          <p class="number-of-discount">
            &dollar;407
          </p>
          <a href="#" class="button">FREE</a>
          <div class="chckbox">
            <input type="radio" />
          </div>
        </li>
        <li>
          <p class="number-of-discount">
            &dollar;100
          </p>
          <a href="#" class="button">FREE</a>
          <div class="chckbox">
            <input type="radio" />
          </div>
        </li>
      </ul>

      <div class="xskin-enter-information-for-send-greeting">
        <form>
          <div class="field">
            <input type="text" placeholder="Recipient Name" />
          </div>
          <div class="field">
            <input type="text" placeholder="Recipient Email" />
          </div>
          <div class="clearfix"></div>
          <div class="text-field">
            <textarea placeholder="Message"></textarea>
          </div>
           <div class="field">
            <input type="text" placeholder="Recipient Name" />
          </div>
          <div class="field">
            <input type="text" placeholder="Recipient Email" />
          </div>
          <div class="clearfix"></div>
          <div class="actions text-center">
            <input type="submit" value="send gift card" />
          </div>
        </form>
      </div>


    </div>
  </div>
</section>