<section>
  <div class="row">
    <div class="xskin-cart">
    <ul class="breadcrumbs mobile-only">
        <li><a href="#">MEMBERSHIP</a></li>
        <li class="current"><a href="#">Payment</a></li>
      </ul>
   
    <div class="xskin-shopping-address payment-option">
	    <ul>
	    	<li><span>1</span>
	    	<a href="checkout_shipping" style="color:#666;">Shopping Address</a>
	    	</li>
	    	<li><i class="fa fa-long-arrow-right"></i></li>
	    	<li class="in-selected"><span>2</span>
	    	Payment Option
	    	</li>
	    	<div class="clearfix"></div>
	    </ul>
	    <div class="shopping-title">
	    	2. Payment Option 
	    </div>
	    <div data-equalizer>
	    <div class="small-7 left" >
	    	<div class="xskin-payment-options" data-equalizer-watch>
	    		<ul class="tabs vertical" data-tab>
				  <li class="tab-title active"><a href="#panel11">Credit Card</a></li>
				  <li class="tab-title"><a href="#panel21">Debit Card</a></li>
				  <li class="tab-title"><a href="#panel31">Alipay</a></li>
				</ul>
				<div class="tabs-content">
				  <div class="content active" id="panel11">
				    <div class="xskin-payment-options">
				    	<h4>Credit Card</h4>
				    	<p>Please select credit card you want to use to pay for this order.</p>
				    	<form>
				    		<select>
				    			<option selected="">Select</option>
				    			<option value="1">1</option>
				    			<option value="2">2</option>
				    			<option value="3">3</option>
				    			<option value="4">4</option>
				    			<option value="5">5</option>
				    		</select>
				    	</form>
				    	<div class="note">
				    		<span>Note:</span> Use this option for credit cards issued in <span>India</span>.
				    	</div>
				    </div>
				  </div>
				  <div class="content" id="panel21">
				    <div class="xskin-payment-options">
				    	<h4>Debit Card</h4>
				    	<p>Please select credit card you want to use to pay for this order.</p>
				    	<form>
				    		<select>
				    			<option selected="">Select</option>
				    			<option value="1">1</option>
				    			<option value="2">2</option>
				    			<option value="3">3</option>
				    			<option value="4">4</option>
				    			<option value="5">5</option>
				    		</select>
				    	</form>
				    	<div class="note">
				    		<span>Note:</span> Use this option for credit cards issued in <span>India</span>.
				    	</div>
				    </div>
				  </div>
				  <div class="content" id="panel31">
				    <div class="xskin-payment-options">
				    	<h4>Alipay</h4>
				    	<p>Please select credit card you want to use to pay for this order.</p>
				    	<form>
				    		<select>
				    			<option selected="">Select</option>
				    			<option value="1">1</option>
				    			<option value="2">2</option>
				    			<option value="3">3</option>
				    			<option value="4">4</option>
				    			<option value="5">5</option>
				    		</select>
				    	</form>
				    	<div class="note">
				    		<span>Note:</span> Use this option for credit cards issued in <span>India</span>.
				    	</div>
				    </div>
				  </div>
				</div>
	    	</div>
	    </div>
	    <!-- left tabs close from here -->

	    <div class="small-5 left" data-equalizer-watch>
	    	<div class="xskin-products-in-your-orders">
	    		<h6>Products in your order</h6>
	    		<div class="order-product">
	    			<div class="medium-10 left">
	    				<p>Diwali Offer- Kriston 5.1 Home Theater</p>
	    			</div>
	    			<div class="medium-2 left">
	    				<span>&dollar;75</span>
	    			</div>
	    		</div>
	    		<!-- product close from here -->

	    		<div class="order-product">
	    			<div class="medium-10 left">
	    				<p>Diwali Offer- Kriston 5.1 Home Theater</p>
	    			</div>
	    			<div class="medium-2 left">
	    				<span>&dollar;75</span>
	    			</div>
	    		</div>
	    		<!-- product close from here -->

	    		<div class="order-product">
	    			<div class="medium-10 left">
	    				<p>Diwali Offer- Kriston 5.1 Home Theater</p>
	    			</div>
	    			<div class="medium-2 left">
	    				<span>&dollar;75</span>
	    			</div>
	    		</div>
	    		<!-- product close from here -->

	    		<div class="order-product">
	    			<div class="medium-10 left">
	    				<p>Diwali Offer- Kriston 5.1 Home Theater</p>
	    			</div>
	    			<div class="medium-2 left">
	    				<span>&dollar;75</span>
	    			</div>
	    		</div>
	    		<!-- product close from here -->

	    		<div class="order-product">
	    			<div class="medium-10 left">
	    				<p>Diwali Offer- Kriston 5.1 Home Theater</p>
	    			</div>
	    			<div class="medium-2 left">
	    				<span>&dollar;75</span>
	    			</div>
	    		</div>
	    		<!-- product close from here -->

	    	</div>
	    	<div class="your-subtotal">
	    	<div class="total">
	    		<div class="medium-6 left text-right">
	    			<p><span>Subtotal:</span></p>
	    		</div>
	    		<div class="medium-6 left text-right">
	    			<p><span>175&dollar;</span></p>
	    		</div>
	    		</div>
	    		<!-- total close from here -->
	    		<div class="total">
	    		<div class="medium-6 left text-right">
	    			<p>(-) Order Discount:</p>
	    		</div>
	    		<div class="medium-6 left text-right">
	    			<p>5&dollar;</p>
	    		</div>
	    		</div>
	    		<!-- total close from here -->
	    		<div class="total">
	    		<div class="medium-6 left text-right">
	    			<p>Price after Discount:</p>
	    		</div>
	    		<div class="medium-6 left text-right">
	    			<p>275&dollar;</p>
	    		</div>
	    		</div>
	    		<!-- total close from here -->
	    		<div class="total">
	    		<div class="medium-6 left text-right">
	    			<p>Shipping Cost:</p>
	    		</div>
	    		<div class="medium-6 left text-right">
	    			<p>675&dollar;</p>
	    		</div>
	    		</div>
	    		<!-- total close from here -->
	    		<div class="total full-total">
	    		<div class="medium-6 left text-right">
	    			<p><span>Total</span></p>
	    		</div>
	    		<div class="medium-6 left text-right">
	    			<p><span>975&dollar;</span></p>
	    		</div>
	    		</div>
	    		<!-- total close from here -->
	    	</div>
	    	<div class="continue text-right">
			<a href="#" class="button">Continue</a>
		</div>
	    </div>
	    <!-- product your order close from here -->
	    </div>

	    <div class="clearfix"></div>
	    </div>
	    <!-- address section close from here -->

    </div>
  </div>
</section>