<section class="xskin-my-gallery">
<div class="row">
  <h4 class="shopping-cart hide-for-small-only">Hi! User</h4>
  <div class="medium-4 small-12 left">
  <%= render"layouts/user_menu" %>
  </div>
  <div class="medium-8 small-12 left">
      <div class="xskin-user-profile-data">

        <div class="xskin-promotion">
          <ul class="promotion">
            <li>
            <div class="large-9 left">
              <h5>BUY <spanc class="orange">$500</spanc> GET <spanc class="orange">$10</spanc> OFF</h5>
              <span>Free $10 to get today with ...</span>
              </div>
              <div class="large-3 right text-right">
                <div class="promotion-expired">
                  <span>Expired Date : 2015/11/31</span>
                  <br>
                  <a href="javascript:void(0);" class="see-detail">See Detail &nbsp; <i class="fa fa-angle-right"></i></a>                  
                  <a href="javascript:void(0);" class="close-detail">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="offer-term-and-condition">
                <span>Free Selfie Stick to get today when you buy any phone case today.</span>
                <p class="term">Terms &amp; Conditions:</p>
                <ul class="term-cond">
                <li>Offer is valid until 2015/11/31</li>
                  <li>Only One Free Selfie Stick for a Bill</li>
                  <li>Offer is only applicable in this website</li>
                </ul>
              </div>
            </li>

            <li>
            <div class="large-9 left">
              <h5>BUY <spanc class="orange">ANY CASE</spanc> GET a <spanc class="orange">Free</spanc> Selfie Stick</h5>
              <span>Free $10 to get today with ...</span>
              </div>
              <div class="large-3 right text-right">
                <div class="promotion-expired">
                  <span>Expired Date : 2015/11/31</span>
                  <br>
                  <a href="javascript:void(0);" class="see-detail">See Detail &nbsp; <i class="fa fa-angle-right"></i></a>                  
                  <a href="javascript:void(0);" class="close-detail">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="offer-term-and-condition">
                <span>Free Selfie Stick to get today when you buy any phone case today.</span>
                <p class="term">Terms &amp; Conditions:</p>
                <ul class="term-cond">
                <li>Offer is valid until 2015/11/31</li>
                  <li>Only One Free Selfie Stick for a Bill</li>
                  <li>Offer is only applicable in this website</li>
                </ul>
              </div>
            </li>

            <li>
            <div class="large-9 left">
              <h5><spanc class="orange">20%</spanc> OFF in Every Purchase</h5>
              <span>Free $10 to get today with ...</span>
              </div>
              <div class="large-3 right text-right">
                <div class="promotion-expired">
                  <span>Expired Date : 2015/10/30</span>
                  <br>
                    <a href="javascript:void(0);" class="see-detail">See Detail &nbsp; <i class="fa fa-angle-right"></i></a>                  
                    <a href="javascript:void(0);" class="close-detail">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="offer-term-and-condition">
                <span>Free Selfie Stick to get today when you buy any phone case today.</span>
                <p class="term">Terms &amp; Conditions:</p>
                <ul class="term-cond">
                <li>Offer is valid until 2015/11/31</li>
                  <li>Only One Free Selfie Stick for a Bill</li>
                  <li>Offer is only applicable in this website</li>
                </ul>
              </div>
            </li>

            <li>
            <div class="large-9 left">
              <h5>Promotion Code <spanc class="orange">GJ68JK</spanc> for <spanc class="orange">FREE</spanc> GIFT</h5>
              <span>Free $10 to get today with ...</span>
              </div>
              <div class="large-3 right text-right">
                <div class="promotion-expired">
                  <span>Expired Date : 2015/9/31</span>
                  <br>
                    <a href="javascript:void(0);" class="see-detail">See Detail &nbsp; <i class="fa fa-angle-right"></i></a>                  
                    <a href="javascript:void(0);" class="close-detail">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="offer-term-and-condition">
                <span>Free Selfie Stick to get today when you buy any phone case today.</span>
                <p class="term">Terms &amp; Conditions:</p>
                <ul class="term-cond">
                <li>Offer is valid until 2015/11/31</li>
                  <li>Only One Free Selfie Stick for a Bill</li>
                  <li>Offer is only applicable in this website</li>
                </ul>
              </div>
            </li>


          </ul>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
</div>
</div>

    <!-- medium-8 small-12 left -->
</div>
</section>