 <div class="xskin-template">
                           <section>
                          <div class="row">
                            <div class="range-of-precisely-design temp-2-design">
                            <div class="design-collections">
                              <h2>Range of</h2>
                                <h1>Precisely Designed</h1>
                                <a class="button" href="#">choose my design</a>
                            </div>
                            </div>
                          </div>
                        </section>
                        <section>
                          <div class="row">
                            <div class="custom-iphone-case">
                            <%= image_tag"iphone6-child.png" %> 
                             <div class="customize-my-case">
                                <h2>Custom</h2>
                                <h1>iPhone 6 Cases</h1>
                                <a class="button" href="#">customize my case</a>
                              </div>
                            </div>
                          </div>
                        </section>

                        <section>
                          <div class="row">
                            <div class="shop-design-collection">
                            <div class="design-collections">
                              <h2>Shop</h2>
                                <h1>the Design Collection</h1>
                                <a class="button" href="#">choose my design</a>
                            </div>
                            </div>
                          </div>
                        </section>
                        </div>