
    <!-- xskin dashboard design start from here -->
    <div class="xskin-dshboard-design">
        <h3>Site Administration</h3>
        <ul class="breadcrumbs">
            <li><a href="#">Dashboard</a></li>
        </ul>

        <div class="xskin-users-entry">
        <h4>Dashboard is under processing!!<br> Please test sidebar features.</h4>
        </div>
    </div>