<div data-offcanvas="" class="off-canvas-wrap docs-wrap move-right">
   <div class="inner-wrap">
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="#">The Encyclopedists</a></li>
        <li><a href="#">The Mayors</a></li>
        <li><a href="#">The Traders</a></li>
      </ul>
    </aside>

    <section>

    <!-- main section start from here -->
    <div class="main-section">

    <!-- dashboard top bar start from here -->
    <div class="xskin-dashboard-menu tab-bar">
         <div class="medium-2 left">
                <a class="left-off-canvas-toggle menu-icon" aria-expanded="true">
                <i class="fa fa-bars"><span>Menu</span></i> </a>
                </div>
                <div class="medium-10 columns text-right">
                    <ul>
                        <li>
                            <span class="have-drop"><i class="fa fa-bell"></i>
                            <span>5</span>
                            </span>

                            <ul class="xskin-dropdown smooth">
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                              <li><a href="#">
                              <div class="profile-pic">
                                  <img src="../assets/smith.jpg" alt="" />
                              </div>
                              <div class="notification-title">
                                  <span class="name">John Smith</span>
                                  <span>Film festival used to be do-or-die moment for movie maker. They were where...</span>
                              </div>
                              </a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Kapil_dev@esferasoft.com</a></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                </div>
            </div>

    <!-- dashboard top bar close from here -->


    <!-- xskin dashboard design start from here -->
    <div class="xskin-dshboard-design">
        <h3>List of Users</h3>
        <ul class="breadcrumbs">
            <li><a href="#">Dashboard</a></li>
            <li class="current">User</li>
        </ul>

        <!-- user entry start from here -->
        <div class="xskin-users-entry">
            <ul data-tab="" class="tabs">
            <li class="tab-title active"><a href="#List"><i class="fa fa-list"></i> List</a></li>
            <li class="tab-title"><a href="add_user">Add new</a></li>
            <li class="tab-title"><a href="#Export">Export</a></li>
            <li class="tab-title"><a href="#panel55">Import</a></li>
          </ul>

          <div class="tabs-content">
             <div id="List" class="content active">
             <div class="refresh-list">
                 <div class="refresh-entry">
                     <form>
                         <input type="text" placeholder="filter" />
                         <button type="submit"><i class="fa fa-refresh"></i> &nbsp;Refresh</button>
                         <span class="cross-entries"><i class="fa fa-close"></i></span>
                     </form>
                 </div>
                 <div class="found-user text-right">
                     <a href="#" class="button">Export found users</a>
                 </div>
                 <div class="clearfix"></div>
             </div>
             <div class="xskin-user-entry">
                 <table cellpadding="0" cellspacing="0" width="100%;">
                     <thead>
                         <tr>
                             <th><input type="checkbox" /></th>
                             <th>Id</th>
                             <th>Email</th>
                             <th>Reset password sent at</th>
                             <th>Remember created at</th>
                             <th>Sign in count</th>
                             <th>Current sign in at</th>
                             <th>...</th>
                             <th class="last shrink">&nbsp;</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <div class="clearfix"></div>
            </div>
             
             <div id="Export" class="content">
             export
             </div>
             <div id="panel55" class="content">
             import
             </div>


          </div>

        </div>
        <!-- user entry close from here -->

      </div>
      <!-- xskin dashboard design close from here -->


      </div>
      <!-- main section close from here -->

    </section>

  

  </div>
</div>
