
      <!-- xskin dashboard design start from here -->
      <div class="xskin-dshboard-design">
        <h3>List of Users</h3>
        <ul class="breadcrumbs">
            <li><a href="#">Dashboard</a></li>
            <li class="current">User</li>
        </ul>

        <!-- user entry start from here -->
        <div class="xskin-users-entry">
            <ul data-tab="" class="tabs">
            <li class="tab-title active"><a href="user"><i class="fa fa-list"></i> List</a></li>
            <li class="tab-title"><a href="add_user"><i class="fa fa-user-plus"></i> Add new</a></li>
            <li class="tab-title"><a href="#Show"><i class="fa fa-camera"></i> Show</a></li>
          </ul>

          <div class="tabs-content">

          <!-- list tab start from here -->
             <div id="List" class="content active">
             <div class="refresh-list">
                 <div class="refresh-entry">
                     <form>
                         <input type="text" placeholder="filter" />
                         <button type="submit"><i class="fa fa-refresh"></i> &nbsp;Refresh</button>
                         <span class="cross-entries"><i class="fa fa-close"></i></span>
                     </form>
                 </div>
                 <div class="found-user text-right">
                     <a href="#" class="button">Export found users</a>
                 </div>
                 <div class="clearfix"></div>
             </div>
             <div class="xskin-user-entry">
                 <table cellpadding="0" cellspacing="0" width="100%;" id="device" class="display">
                     <thead>
                         <tr>
                             <th><input type="checkbox" /></th>
                             <th>Id</th>
                             <th>Email</th>
                             <th>Reset password sent at</th>
                             <th>Remember created at</th>
                             <th>Sign in count</th>
                             <th>Current sign in at</th>
                             <th>...</th>
                             <th class="last shrink">&nbsp;</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                         <tr>
                             <td><input type="checkbox" /></td>
                             <td>9</td>
                             <td>Kapil_dev@gmail.com</td>
                             <td>-</td>
                             <td>-</td>
                             <td>99</td>
                             <td>December 6, 2015 05:53</td>
                             <td>...</td>
                             <td class="last links">
                                 <ul>
                                     <li>
                                         <a href="#"><i class="fa fa-info-circle"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-pencil"></i></a>
                                     </li>
                                     <li>
                                         <a href="#"><i class="fa fa-close"></i></a>
                                     </li>
                                 </ul>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <div class="clearfix"></div>
            </div>
            <!-- list tab close from here -->

            <!-- add new tab start from here -->
             <div id="AddNew" class="content">
                <div class="xskin-add-new-user">
                    <form class="new-user-ad">
                        <div class="medium-12 columns">
                            <p>Email</p>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="medium-6 columns">
                            <p>Password</p>
                            <input type="password" class="form-control" />
                        </div>
                        <div class="medium-6 columns">
                            <p>Password confirmation</p>
                            <input type="password" class="form-control" />
                        </div>
                        <div class="medium-6 columns">
                            <p>Name</p>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="medium-6 columns">
                            <p>Email2</p>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="medium-12 columns">
                            <label>
                                <input type="checkbox" /> Lorem ipsum dolor sit amet, consectetur
                            </label>
                        </div>
                        <div class="xskin-action">
                            <a href="#" class="button">Save</a>
                            <a href="#" class="button cancel">Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
             </div>
             <!-- add new tab close from here -->


             <!-- user information Start from here -->
             <div id="Show" class="content">
                <div class="xskin-user-basic-information">
                  <div class="user-info">
                    <h4>Basic information</h4>

                    <div class="medium-4 left">
                      <span class="type-info">
                        Email
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        Kapil_dev@gmail.com
                      </span>
                    </div>


                    <div class="medium-4 left">
                      <span class="type-info">
                        Sign in count
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        99
                      </span>
                    </div>


                    <div class="medium-4 left">
                      <span class="type-info">
                        Current sign in at
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        December 6, 2015 05:53
                      </span>
                    </div>


                    <div class="medium-4 left">
                      <span class="type-info">
                        Last sign in at
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        December 11, 2015 12:53
                      </span>
                    </div>


                    <div class="medium-4 left">
                      <span class="type-info">
                        Current sign in ip
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        192.168.1.13
                      </span>
                    </div>


                    <div class="medium-4 left">
                      <span class="type-info">
                        Last sign in ip
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        192.168.1.13
                      </span>
                    </div>


                    <div class="medium-4 left">
                      <span class="type-info">
                        Referral code
                      </span>
                    </div>
                    <div class="medium-8 left">
                      <span class="user-infor">
                        26d954
                      </span>
                    </div>


                  </div><!-- /user-info -->
                </div><!-- basic information close -->

                <div class="clearfix"></div>
             </div>
             <!-- user information close from here -->


          </div>

        </div>
        <!-- user entry close from here -->

      </div>
      <!-- xskin dashboard design close from here -->

